@font-face {
font-family: Simplicity;
src: url("simplicity.ttf");
}

body{
background-image: url("comida.jpg");
background-size: cover;
font-family: Simplicity; }

#main{
margin: 5% 10%;
padding: 2em;
font-size: 2em;
background-color: rgba(255, 255, 255, 0.7);
text-align: center;
  display: flex;
  
}

button{
font-family: Simplicity;
font-size: inherit;
width: 17%;
margin: auto;
  display: flex;
  flex-wrap: wrap;
}

#graf{
cursor: pointer;
text-align: center;}

#imagen{
display: none;
margin: auto;}

#carbo{
background-color: blanchedalmond;
}
#verdu{
background-color: palegreen;
}
#guarni{
background-color: salmon;
}
#coccion{
background-color: slategray;
}
#planB{
background-color: tomato;
}

footer{
  font-size: 1em;}
@media screen and (max-width: 800px){
  body{font-size:1em;}
  button{width: 100%;}
}
  
