@font-face {
font-family: Simplicity;
src: url("simplicity.ttf");
}

body{
background-image: url("comida.jpg");
background-size: cover;
font-family: Simplicity; }

#main{
margin: 5% 10%;
padding: 2em;
font-size: 2em;
background-color: rgba(255, 255, 255, 0.7);
text-align: center;
  display: flex;
  flex-wrap: wrap;
}

button{
font-family: Simplicity;
font-size: inherit;
width: 17%;
margin: auto;
}

#graf{
cursor: pointer;
text-align: center;}

#imagen{
display: none;
margin: auto;}

#carbo{
background-color: blanchedalmond;
}
#verdu{
background-color: palegreen;
}
#guarni{
background-color: salmon;
}
#coccion{
background-color: slategray;
}
#planB{
background-color: tomato;
}

footer{
  font-size: 1em;}

@media only screen
  and (min-width: 320px) 
  and (max-width: 736px)
{
  body{font-size:1em;
  }
  
  button{width: 100%;
    font-size:0.8;
  }
  #main{padding:0;
    margin:0;}
}
  
